absl-py==2.1.0
alembic==1.13.1
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
bcrypt==4.1.2
cffi==1.16.0
click==8.1.7
colorlog==6.8.2
contourpy==1.2.1
coverage==6.4
cryptography==41.0.7
cycler==0.12.1
ecdsa==0.19.0
fastapi==0.110.0
fastapi-another-jwt-auth==0.1.10
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.3.1
h11==0.14.0
httptools==0.6.1
idna==3.6
jax==0.4.26
jaxlib==0.4.26
Jinja2==3.1.3
kiwisolver==1.4.5
Mako==1.3.2
MarkupSafe==2.1.5
matplotlib==3.8.4
mediapipe==0.10.11
ml-dtypes==0.4.0
mpmath==1.3.0
mysql-connector-python==8.3.0
networkx==3.3
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
passlib==1.7.4
pillow==10.3.0
protobuf==3.20.3
pyasn1==0.6.0
pycparser==2.21
pydantic==2.6.4
pydantic-settings==2.2.1
pydantic_core==2.16.3
PyJWT==2.8.0
PyMySQL==1.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
PyYAML==6.0.1
rsa==4.9
scipy==1.13.0
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.6
SQLAlchemy==2.0.28
starlette==0.36.3
sympy==1.12
torch==2.3.0
typing_extensions==4.10.0
uvicorn==0.28.0
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
